* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-body: #101010;
    --main-font-color: rgb(255, 255, 255);
    --main-black-color-font: #101010;
    --main-font-family-bold: 'poppins-bold';
    --main-font-family-regular: 'poppins-regular';
}

@font-face {
    font-family: 'poppins-bold';
    src: url('../fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'poppins-regular';
    src: url('../fonts/Poppins-Regular.ttf');
}

button {
    background: #040404;
    border-radius: 1rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: bold;
    padding: 0.8rem 1.3rem;
    text-align: center;
    width: 6.2rem;
    box-sizing: border-box;
    border: 0;
    font-size: 1rem;
    touch-action: manipulation;
    margin: 0.5rem;
    transition: all 0.5s;
}


.mainContainer {
    background-image: url('../media/dayBackground.png');
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: grey;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.githubIcon {
    height: 2rem;
    margin: 0.5rem;
    border-radius: 50%;
}

.textFooter {
    font-size: 1rem;
    ;
    color: var(--main-font-color);
    font-family: var(--main-font-family-regular);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 1rem;
    background-color: var(--background-body);
    font-style: italic;
    min-height: 10vh;
}

.grid {
    margin-top: 2rem;
    display: grid;
    gap: 1rem;
    justify-items: center;
    font-family: var(--main-font-family-regular);
}

.cityLabel {
    font-weight: bolder;
    color: white;
    font-size: 1.6rem;
}

input {
    padding: 0.5rem 1rem;
    outline: none;
    border: 2.3px solid #E5E7EB;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius: 0.5rem;
}

.info-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.9rem;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .2),
        0.2em 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    background-color: transparent;
    width: 20rem;
    margin: 1rem;
}

.card-header,
.card-body{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.card-body{
    justify-content: center;
}

.temp-number{
    font-size: 6rem;
}

.deg-symbol,
.deg-unit{
    font-size: 2rem;
}

.data-wrap{
    margin-top: 1.7rem;
}

.feels-like{
    display: flex;
    gap: 0.5rem;
}

.feels-like .label{
    display: block;
    width: 2rem;
    font-size: 0.8rem;
}

.feels-like .number{
    font-size: 1.9rem;
}

span,h2{
    font-family: var(--main-font-family-regular);
}