* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-body: #101010;
    --main-font-color: rgb(255, 255, 255);
    --main-black-color-font: #101010;
    --main-font-family-bold: 'poppins-bold';
    --main-font-family-regular: 'poppins-regular';
}

@font-face {
    font-family: 'poppins-bold';
    src: url('../fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'poppins-regular';
    src: url('../fonts/Poppins-Regular.ttf');
}

button {
    background: blue;
    border-radius: 12px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    transition: 200ms;
    width: 100px;
    box-sizing: border-box;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 10px;
    transition: all 0.5s;
}


.mainContainer {
    background-image: url('../media/nightBackground.png');
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: grey;
    background-position: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.githubIcon {
    height: 2rem;
    margin: 0.5rem;
    border-radius: 50%;
}

.textFooter {
    font-size: 1.5rem;;
    color: var(--main-font-color);
    font-family: var(--main-font-family-regular);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 1rem;
    background-color: var(--background-body);
    font-family: sans-serif;
    font-style: italic;
}
